<div id=left_menu>
  <nav>
    <ul>
      <li class="menu_items">Users Account:</li>
      <li><ul>
        <li class="submenu_items"><%= link_to "Welcome Page", users_welcome_path %></li>
        <li class="submenu_items"><%= link_to "View/Edit User", users_view_path %></li>
        <li class="submenu_items"><%= link_to "Manage Account", users_manage_path %></li>
        <li class="submenu_items"><%= link_to "Sign Out", users_signin_url %></li>
      </ul></li><br>
  
      <li class="menu_items">Savings Account:</li>
      <li><ul>
        <li class="submenu_items"><%= link_to "Create Account", accounts_create_path %></li>
        <li class="submenu_items"><%= link_to "View/Edit Account", accounts_view_path %></li>
      </ul></li><br>

      <li class="menu_items">Savings Category:</li>
      <li><ul>
        <li class="submenu_items"><%= link_to "Create Category", categories_create_path %></li>
        <li class="submenu_items"><%= link_to "View/Edit Category", categories_view_path %></li>
      </ul></li><br>

      <li class="menu_items">Savings Entry:</li>
      <li><ul>
        <li class="submenu_items"><%= link_to "Add Entries", entries_add_path %></li>
        <li class="submenu_items"><%= link_to "Deduct Entry", entries_deduct_path %></li>
        <li class="submenu_items"><%= link_to "View Entries", entries_view_path %></li>
      </ul></li>
    </ul>
  </nav>
</div>