<% provide(:title, "View Account") %>

<h2>View Account</h2>

<%= render "shared/flash" %>

<div id="main_layout">

  <%= render "shared/menu" %>

  <div id="center_private_layout">

    <% if !@account_names.nil? %>

      <%= form_tag(accounts_view_path) do %>

        <span class="span_left_align">* Selected Savings Account:</span>
        <span class="span_right_align"><%= select_tag "account_name",
          options_for_select(@account_names, session[:account_name]), onchange: "this.form.submit();" %>
        </span><br><br>

        <% if @categories.size > 0 %>

          <span class="span_left_align">Account Total Savings: $ <%= number_with_precision(@account_total, precision: 2) %></span><br><br>

          <div id="data_table" data-number_categories="4">

            <table>
              <thead>
                <tr>
                  <th class="data_columns">Category</th>
                  <th class="data_columns">Savings</th>
                  <th class="data_columns">Dollar Goal</th>
                  <th class="data_columns">Goal Target&nbspDate</th>
                </tr>
              </thead>

              <tfoot>
                <tr>
                  <td class="data_columns">Total</td>
                  <td class="data_columns"><span class="span_right_align_table">
                    $&nbsp<%= number_with_precision(@account_total, precision: 2) %></td>
                  </span>
                  <td class="data_columns"></td>
                  <td class="data_columns"></td>
                </tr>
              </tfoot>

              <tbody>
                <% @categories.each do |category| %>
                  <tr>
                    <td id="category-name-<%= category[:id] %>"><span class="span_left_align_table"><%= category[:category_name] %></span></td>

                    <%= form_for :category, url: accounts_view_path, namespace: ("category-" + category[:id].to_s) do |f| %>
                      <td class="table_cell_no_display" id="category-name-<%= category[:id] %>-hidden">
                        <%= f.text_field :category_name, value: category[:category_name], class: "table_text_field_left" %>
                      </td>

                      <td><span class="span_right_align_table">$ <%= number_with_precision(@category_name_savings_amount_mapping[category[:category_name].to_sym], precision: 2) %></span></td>

                      <% if !category[:savings_goal].nil? %>
                        <td id="savings-goal-<%= category[:id] %>"><span class="span_right_align_table">$ <%= number_with_precision(category[:savings_goal], precision: 2) %></span></td>
                        <td class="table_cell_no_display" id="savings-goal-<%= category[:id] %>-hidden">
                          <%= f.text_field :savings_goal, value: number_with_precision(category[:savings_goal], precision: 2), class: "table_text_field" %>
                        </td>
                      <% else %>
                        <td id="savings-goal-<%= category[:id] %>">None</td>
                        <td class="table_cell_no_display" id="savings-goal-<%= category[:id] %>-hidden">
                          <%= f.text_field :savings_goal, value: nil, class: "table_text_field" %>
                        </td>
                      <% end %>

                      <% if !category[:savings_goal_date].nil? %>
                        <td id="savings-goal-date-<%= category[:id] %>"><%= category[:savings_goal_date].strftime("%-m/%-d/%Y") %></td>
                        <td class="table_cell_no_display" id="savings-goal-date-<%= category[:id] %>-hidden">
                          <%= f.text_field :savings_goal_date, value: category[:savings_goal_date].strftime("%-m/%-d/%Y"), class: "table_text_field" %>
                        </td>
                      <% else %>
                        <td id="savings-goal-date-<%= category[:id] %>">None</td>
                        <td class="table_cell_no_display" id="savings-goal-date-<%= category[:id] %>-hidden">
                          <%= f.text_field :savings_goal_date, value: nil, class: "table_text_field" %>
                        </td>
                      <% end %>

                      <td class="table_button_cell"><%= button_tag "Update", type: "button", name: "update[#{category[:id]}]", id: "update-#{category[:id]}", onclick: "updateAccount('#{category[:category_name]}', '#{@category_name_id_mapping.to_json}')", class: "table_button" %></td>
                      <td class="table_button_cell"><%= submit_tag "Delete", name: "delete[#{category[:id]}]", id: "delete-#{category[:id]}", data: {confirm: "Warning! \nYou are about to delete your #{category[:category_name]} \ncategory and all its entries. \n\nProceed with Deleting Category?" }, class: "table_button" %></td>

                      <td class="table_button_cell_no_display"><%= f.submit "Save", name: "save-update[#{category[:id]}]", id: "save-update-#{category[:id]}", class: "table_button" %></td>
                    <% end %>

                    <td class="table_button_cell_no_display"><%= button_tag "Cancel", type: "button", name: "cancel-update[#{category[:id]}]", id: "cancel-update-#{category[:id]}", onclick: "updateAccount('#{category[:category_name]}', '#{@category_name_id_mapping.to_json}')", class: "table_button" %></td>

                  </tr>
                <% end %>
              </tbody>
            </table>

          </div>
        <% end %>
      <% end %>
    <% end %>

  </div>

</div>